<a href="https://colab.research.google.com/github/szymbor2/ATMS-597-Project-4-Group-C/blob/master/project4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Imports

Import Libraries

In [56]:
import tarfile
import pandas as pd
import os

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Set Your Directory

In [0]:
YOUR_DIRECTORY = '/content/drive/My Drive/Colab Notebooks/ATMS597/project4/'

Import GFS data and save to pd.DataFrame

In [90]:
daily = tarfile.open(name = YOUR_DIRECTORY + 'daily.tar.gz') # Set the archive for opening

# Aggregate to PD DataFrame
cur_file = daily.next() # Initiate while loop using the first file in the tar archive
daily_gfs = pd.DataFrame(columns=['TMAX', 'TMIN', 'WMAX', 'RTOT'])
i = 0
while cur_file != None:
    i += 1
    if i % 350 == 0:
        print(float(i/3500))
    working_file = YOUR_DIRECTORY + cur_file.name
    daily.extract(cur_file, path=YOUR_DIRECTORY) # Extract TarInfo Object
    convert_to_df = pd.read_csv(working_file, index_col=0) # Convert cur_file (TarInfo Object) to string, then to PD 
    daily_gfs = df.append(convert_to_df) # Append PD to DF
    os.remove(working_file) # Remove file extracted in directory
    cur_file = daily.next() # Go to next file in archive

daily_gfs['TMAX'] = daily_gfs['TMAX'].apply(lambda x: (x*(9/5))).apply(lambda x: x+32) # Change TMAX to Celsius
daily_gfs['TMIN'] = daily_gfs['TMIN'].apply(lambda x: (x*(9/5))).apply(lambda x: x+32) # Change TMIN to Celsius
daily.close() # Close .tar

0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9
1.0

In [91]:
daily_gfs

                       TMAX    TMIN      WMAX  RTOT
2010-01-01 12:00:00  11.732   2.372  7.323933  0.05
2010-01-02 12:00:00  13.712   3.272  4.687217  0.00
2010-01-03 12:00:00  14.072   6.152  5.941380  0.06
2010-01-04 12:00:00  16.772   8.852  5.685068  0.17
2010-01-05 12:00:00  19.112  12.092  3.794733  0.77
...                     ...     ...       ...   ...
2020-01-27 12:00:00  33.512  29.732  1.984943  0.29
2020-01-28 12:00:00  34.592  27.392  2.319483  0.57
2020-01-29 12:00:00  36.212  27.572  1.802776  0.00
2020-01-30 12:00:00  37.112  30.092  2.121320  1.13
2020-01-31 12:00:00  37.832  32.432  6.835934  1.27

[3645 rows x 4 columns]

Import obs daily data

In [100]:
daily_obs = pd.read_csv(YOUR_DIRECTORY + 'KCMI_daily.csv', header=4, usecols=[0,1,2,3,4])
daily_obs

                                              Date  ... Total Precip (in)
0                                       2010-01-01  ...                 M
1                                       2010-01-02  ...              0.00
2                                       2010-01-03  ...              0.00
3                                       2010-01-04  ...              0.00
4                                       2010-01-05  ...                 M
...                                            ...  ...               ...
3654                                   M = Missing  ...               NaN
3655                           NC = Not Calculated  ...               NaN
3656            Midwestern Regional Climate Center  ...               NaN
3657  cli-MATE: MRCC Application Tools Environment  ...               NaN
3658         Generated at: 3/9/2020 9:27:23 AM CDT  ...               NaN

[3659 rows x 5 columns]